@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");

/*
p.indent{ padding-left: 8.8em }
body {
    height: 2000px;
}

 .div1 { 
    background:green;
height: 20px;
width:1150px;
position: fixed;
 }
 .div2 { 
   background:rgb(23, 109, 158);
   height: 55px;
width:55px; position: absolute;
 }

.div3 { 
   background:red;
   height: 58px;
   width:58px; 
 }
 


 .div1 { 
   background:green;
   height: 70px;
   width: 70px;
   border-radius: 180px;
   left:10px;
   position: relative;
   bottom:40px;

}
.div2 { 
  background:green;
  height: 70px;
  width: 70px;
  border-radius: 180px;
left:157px;
bottom:107px;
position: relative;

}
.div4 { 
  background:green;
  height: 110px;
  width: 250px;
  
  position: relative;

}

.div3 { 
  background:green;
  height: 70px;
  width: 90px;
left:77px;
position: relative;
}
*/
.div1 {
height: 300px;  background-color: aqua;
overflow:hidden;

}
.div2 {
  height: 500px;  background-color: aqua;
  background-repeat:no-repeat; 
  background-attachment: fixed;
  overflow:hidden;
  }