body{
    overflow-x:hidden;

}
.container {
    width: 960px;
    margin: 0 auto;
}
#header
{
    position: absolute;
    width: 100%;
}
.logo {
    padding: 40px;
    top: 40px;
    float: left;
    margin-left: -40px; 
}
.nav {
    float: right;
    padding-top: 40px; 
}
.nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}
.nav a {
    font: 16px Arial, sans-serif;
    color: #fff;
    text-decoration: none;

}
{}
a:hover {
    color: #00aeef; /* Цвет фона под ссылкой */ 
}
#home {
    height: 130px;
    background:#333333;
}
#home2 {
    background:#fff;
        padding-top: 160px;
        margin: 0 auto;
        width: 960px;

}
#home3 {
    background:#fff;
        margin: 0 auto;
        width: 960px;
        padding-bottom: 40px;


}
#home4 {
    background:#fff;
        margin: 0 auto;
        width: 960px;

}
#home5 {
    background:#fff;
        margin: 0 auto;
        width: 960px;

}
.colortext {
    color: #00aeef; 
  }
@font-face {
    font-family: Myriad Pro; 
    src: url(./MYRIADPRO-BOLD.OTF); 
   }
   @font-face {
    font-family: Myriad; 
    src: url(./MYRIADPRO-REGULAR.OTF); 
   }
#home2 h3 {
    font: 60px/60px Myriad Pro, bold;
    color: black;
    letter-spacing: -0.04em;
    margin-bottom: 10px;

}
#home2 h4 {
    font: 50px/50px Myriad, sans-serif;
    color: #bbbbbb;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    margin-top: 1px;

}
#home2 p {
    font: 34px/34px Myriad, sans-serif;
color: #555555;
}
.blocktwo {
    width: 100%;
    margin: 2.5rem 0;
}





.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    align-items: stretch; }
    .highlights > * {
        width: 310px; }
        .highlights > * {
      padding: 0.5rem;
              }
        .highlights .content {
      height: 100%;
      padding: 1rem;
      text-align: center; }
    .highlights > div > :last-child {
      margin-bottom: 0; }
    
  .highlights .content {
          background: #00aeef;
          -webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 50, 0.75);
          box-shadow:         4px 4px 15px 0px rgba(50, 50, 50, 0.75);        }
  

    .button {
        background-color: #0076a3; border-color: #15627e;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    .main 
      {
      width:960px;
      margin-top:30px;
      margin-bottom:15px;
      }
.main_left
      {
      width:456px;
      text-align:center;
      float:left;
      margin-right: 10px;
      padding: 2px;
border-right: 4px dotted #bbbbbb;
margin-top: 3px;
margin-left: 1px;

      }
      .main_right
{
width:477px;
text-align:center;
float:right;

}
.main_center
{
width:6px;
}
.main_left h3 {
    text-align:left;

}
.main_left p {
    text-align:left;
    color:#555555; 
    font-size:14px;
}
.leftimg {
    float:left; 
    margin: 7px 25px 7px 0;
   }